.espc{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    color:#646464;
    letter-spacing: 0.8px;
}

.btcad{
    background-color: #767676;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.erroemail,.errosenha,.erroconfsenha,
.errotit,.errocat,.errothumb{
    text-align: center;
    width: 400px;
    margin: 5px auto auto;
    height: 20px;
    display: block;
    color: #4c4a4a;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}


