<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>The Cotton Man | Organic Cotton, Vaping Wicks and Hemp Plant Products</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../public/style/Proj3.css" type="text/css" />
  <link rel="stylesheet" href="../public/style/cadastro.css" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <h1 class="imglogo">
  <img src="../public/img/firstlogo.png" alt="Cottonman"></h1>
  <div class="espc">
    <h1> Cadastrar novo usuário: </h1>

    <div class="apresentaErro"></div>

    <form action="#" method="post" target="_blank">
      <input type="email" id="email" name="email" placeholder="Email"><br>
      <span class="erroemail"></span>
      <input type="password" id="password" name="password" placeholder="Password"><br>
      <span class="errosenha"></span>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"><br><br>
      <span class="erroconfsenha"></span>
      <button class="btcad" id="submitcad">Cadastrar</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  
  <script src="/public/js/cadastro.js"></script>
</body>

</html>