<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>The Cotton Man | Organic Cotton, Vaping Wicks and Hemp Plant Products</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="../public/style/Proj3.css" type="text/css" />
     <link rel="stylesheet" href="../public/style/cadastro.css" type="text/css" />
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   </head>
<body>
  <h1 class="imglogo">
    <img src="../public/img/firstlogo.png" alt="Cottonman"></h1>  
  <div class="espc">
    <h1>Novo Post de Jogo</h1>
    <div class="apresentaErro"></div>
    <form>
      <span class="errotit"></span>
      <input type="text" name="titulo" placeholder="Título do jogo"><br><br>
      <input type="text" name="categoria" placeholder="Categoria"><br><br>
      <input type="file" id="thumbnail" name="thumbnail" placeholder="Foto do jogo"><br><br>
      <button class="envjogo" id="envijogo">Enviar</button>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/public/js/novopost.js"></script>
</body>

</html>