<div class="nav">
  </header>
  <div class="wrapper">
    <header>
        <h1 class="imglogo">
            
        <img src="../public/img/firstlogo.png" alt="Cottonman"></h1>
        
        <div class="boxdeslog">
            <div class="deslog"></div>
            <button class="btdeslog">Sair</button>
        </div>
        <nav>
        <div class="menu">
            <div class="bar">
                <div class="caixa">
                    HOME                        
                </div>           
                <div class="caixa">
                    RAW COTTON &#9662;
                    <div class="cxexterna"> 
                        <div class="submenu">
                            <div class="branca"> 
                                COTTON BOLLS
                            </div>
                            <div class="branca">
                                COTTON BURS
                            </div>
                            <div class="branca">
                                DRIED COTTON PLANTS
                            </div>                                        
                            <div class="branca">
                                LIVE COTTON PLANTS
                            </div>
                            <div class="branca">
                                COTTON SEED
                            </div>
                            <div class="branca">
                                COTTON FIBER
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caixa">
                    PREMIUM COTTON FIBER &#9662;
                    <div class="cxexterna"> 
                        <div class="submenu">
                            <div class="branca"> 
                                MAVATON'S X
                            </div>
                            <div class="branca">
                                UPLAND RESERVE
                            </div>
                            <div class="branca">
                                ORGANIC UPLAND SLIVER
                            </div>                                        
                            <div class="branca">
                                SLIVER BLEND
                            </div>
                            <div class="branca">
                                FACIAL PAD
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caixa">
                    COTTON FARM &#9662;
                    <div class="cxexterna"> 
                        <div class="submenu">
                            <div class="branca"> 
                                COTTON BALES
                            </div>
                            <div class="branca">
                                COTTON JEWELRY
                            </div>
                            <div class="branca">
                                BEAN & PEA SHELLER 
                            </div>                                        
                            <div class="branca">
                                COTTON HISTORY &#9662;                                
                            </div>                                                                         
                        </div>
                    </div>
                </div>

                <div class="caixa">
                    BLOG
                </div>

                <div class="caixa">
                    CONTACT US
                </div>
           
                <div class="caixa">
                    CART
                </div>

            </div>
        </div>
        </nav>
    </header>
    <div class="cartmenu">
         <div class="cart"> View Cart 
            <div class="carrinho"></div>    
        </div>
        <div class="menumedia"></div>
    </div>
    <div class="main">
        <div class="fotofundotop">
            <h2 class="textopainel"> COTTONMAN </h2>
            <h3 class="texto2painel"> FROM OUR FARM TO YOUR DOOR </h3>
            <span class="erropesq2"></span>
            <div class="boxpesquisa">                       
                    <form style ="text-align: center;" action=" " method="post">
                        <label for="busca"></label>
                        <input class="pesqjogo" type="search" name="busca" placeholder="Search - Ex: shooter, strategy, moba, racing..." value="">
                    </form>                       
                <div class="btpesquisa">
                    <button class="btpesq" id="btbusca" type="submit"></button>                              
                </div>
            </div>
            <span class="erropesq"></span>
        </div> 
        <div class="resultBusca"></div>
        
    </div>
   
</div>
</div>